
<div class="blog-index-page">
  <% if @blogs.present? %>
    <% @blogs.each do |blog|%>
      <%= link_to blog_path(blog) do %>
        <div class="panel panel-success animate__animated animate__fadeInBottomRight">
          <div class="panel-heading">
            <%= blog.title %>
          </div>
          <div class="panel-body">
            <div class="panel-body-content">
              <div class="panel-body-content-left">
                <% if blog.tags.present? %>
                  <% blog.tags.each do |tag| %>
                    <span class="label label-success"><%= tag.name %></span>
                  <% end %>
                <% end %>
              </div>
              <div class="panel-body-content-right">
                发布时间<%= blog.created_at.strftime('%F %T') %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  <%end%>
</div>
