<div class="welcome-page">

  <div class="row page-main">
    <div class="col-md-6 page-main-left">
      <div class="page-main-left-title">
        Have a look Around!
      </div>
      <div class="page-main-left-content">
        And you will find everything you need to build a great looking website.
      </div>
      <div class="page-main-left-line animate__animated animate__rubberBand">

      </div>
      <div class="page-main-left-btns">
        <%= link_to("传送门", blogs_path, :class=>"btn btn-lg btn-success") %>
      </div>
    </div>
    <div class="col-md-6 page-main-right">
      <img src="https://demo.createx.studio/around/img/demo/presentation/intro/layer01.png" alt="" class="page-main-image">
    </div>
  </div>

  <div class="page-content row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 page-content-center">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!-- <img src="http://qiniu.dlthink.com/2020/06/07/e6dd5b713b05df99f96f0c50e5df84bb.jpeg" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div> -->
            <a href="https://cloud.tencent.com/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/d93407d17a4d572d202a33483a8b0efe.jpg" alt="tencent">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://account.aliyun.com/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/bb86f37ad0a102d3e1f06ebb615de29e.jpg" alt="ali">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://angular.cn/start" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/3cd080638c5a013b5e016cc07490545f.png" alt="angular">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://reactjs.org/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/49fe0ca4fd71a8cfe24a22b946622b26.jpg" alt="react">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://vuejs.org/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/65f6d3fe51889a358feee479216c7b42.png" alt="vue">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.typescriptlang.org/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/534f20ff8458125cde88d141f5774f0d.png" alt="ts">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://leohxj.gitbooks.io/front-end-database/index.html" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/67241377a7c50c835aaca63bd578631e.jpg" alt="web_dev">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="http://nodejs.cn/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/91e99451a72998adb3cda0635cc3d8da.jpg" alt="node">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://guides.rubyonrails.org/" target="_blank">
              <img src="http://qiniu.dlthink.com/2020/07/27/4baa0e3227cf494c4594f52ceda12194.jpg" alt="rails">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <!-- <div class="row page-divider">
  </div> -->
</div>

<script type="text/javascript">
  $(".thumbnail").hover(
    function() {
      $(this).addClass('animate__animated animate__flipInX')
    }
  )
</script>
