<div class="welcome-page">

  <div class="row page-main">
    <div class="col-md-6 page-main-left">
      <div class="page-main-left-title">
        Have a look Around!
      </div>
      <div class="page-main-left-content">
        And you will find everything you need to build a great looking website.
      </div>
      <div class="page-main-left-line animate__animated animate__rubberBand">

      </div>
      <div class="page-main-left-btns">
        <%= link_to("传送门", blogs_path, :class=>"btn btn-lg btn-success") %>
      </div>
    </div>
    <div class="col-md-6 page-main-right">
      <img src="https://demo.createx.studio/around/img/demo/presentation/intro/layer01.png" alt="" class="page-main-image">
    </div>
  </div>

  <div class="page-content row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 page-content-center">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!-- <img src="http://qiniu.dlthink.com/2020/06/07/e6dd5b713b05df99f96f0c50e5df84bb.jpeg" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div> -->
            <a href="https://cloud.tencent.com/" target="_blank">
              <img src="http://pic40.nipic.com/20140421/18532203_092822407121_2.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://account.aliyun.com/" target="_blank">
              <img src="https://ss0.bdstatic.com/-0U0bnSm1A5BphGlnYG/tam-ogel/db074039d15d05a6e966f11cb6ce53ed_222_222.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://angular.cn/start" target="_blank">
              <img src="https://blogdummi.fr/wp-content/uploads/2018/04/favicon-angular.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://reactjs.org/" target="_blank">
              <img src="https://www.kirupa.com/react/images/reactjs_logo_144.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://vuejs.org/" target="_blank">
              <img src="https://cdn-images-1.medium.com/max/1200/1*ieROYZuCX-w0p9V7UswJbQ.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.typescriptlang.org/" target="_blank">
              <img src="https://cms-assets.tutsplus.com/legacy-courses/CRS-56479.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://leohxj.gitbooks.io/front-end-database/index.html" target="_blank">
              <img src="https://assets.entrepreneur.com/static/20160204050008-14.jpeg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="http://nodejs.cn/" target="_blank">
              <img src="https://eladnava.com/content/images/2016/04/nodejs-6.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://guides.rubyonrails.org/" target="_blank">
              <img src="https://www.vizteams.com/wp-content/uploads/2013/05/ruby-on-rails.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <!-- <div class="row page-divider">
  </div> -->
</div>

<script type="text/javascript">
  $(".thumbnail").hover(
    function() {
      $(this).addClass('animate__animated animate__flipInX')
    }
  )
</script>
