.navbar {
  margin-bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  border: none !important;
  z-index: 999;
}
.navbar-default {
  background-color: inherit !important;
}

body {
  width: 100%;
  height: 100vh;
  // background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
  // background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}
